
.donorbtn{
    color: white;
    background-color: #c53f3f;
}
.findbtn{
    background-color: white;
    color: #c53f3f;
}
.lightertxt{
    color: gray;
}
img{
    width: 50%;
}
@media (min-width:992px) {
    img{
        width: 75%;
    }
    
}
.donorimg{
    display: block !important;
    animation: disply 0.5s ease-in-out;
}
@media (max-width:992px) {
    .donorimg{
        display: none !important;
    }
}
