.nav-link{
    list-style: none !important;
    color: black;
    font-weight: 600;
}
h2{
    font-weight: 700;
}
span{
    text-decoration: none;
}
.logo-img{
    width: 48px;
    height: auto;
}
.mylink{
    text-decoration: none !important;

}
.logoutbtn{
    border: none !important;
    background-color: salmon !important;
    color: white;
}