.logindiv{
    /* position: relative;
    left: 50%;
    right: 50%;
    transform: skewX(50) skewY(50); */
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginbtn{
    margin: 5px;
    padding: 5px 15px 5px 5px !important;
    font-size: 1.5vw;
    font-weight: 600;
    border: none !important;
    background-color: #4285f4;
    color: white;
}
.loginbtn>img{
    background-color: white;
    margin: 0 10px 0 0;
}
.text{
    margin: 0px;
    transition: margin 1s ;
}
.text:hover{
    margin: 0 20px;
}